# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python virtual environment folder
.venv/

# Common Python files to ignore
__pycache__/
*.pyc

# Operating system files
.DS_Store

venv/
web/venv/
node_modules/
__pycache__/
*.pyc
.env